{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Practice app for tracking the ISS">
    <meta name="author" content="Sydney Mercier">
    <link rel="icon" href="../../favicon.ico"> <!-- DELETE? -->

	<title>ISS Tracker</title>

	<!-- JavaScript -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Leaflet CSS and JavaScript files -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
	<!-- My static files -->
	<link rel="stylesheet" type="text/css" href="{% static 'isstracker/styles.css' %}?v=00001">
	<script type="text/javascript" src="{% static 'isstracker/iss_map.js' %}?v=00001"></script>
</head>

<body>
	<!-- Bootstrap navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Project name</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<form class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" placeholder="Email" class="form-control">
					</div>
					<div class="form-group">
						<input type="text" placeholder="Name" class="form-control">
					</div>
					<button type="submit" class="btn btn-success">Sign up</button>
				</form>
			</div><!--/.navbar-collapse -->
		</div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
		<div class="container">
			<h1>ISS Tracker</h1>
			<p>Follow the International Space Station around the globe!</p>
			<div id="mapid"></div>
		</div>
    </div>

<!-- 	<div>
		<h1>ISS Tracker <small>Follow the International Space Station around the globe!</small></h1>
	</div>
	<div class="row">
		<div class="col-lg-">
			<div id="mapid"></div>
		</div>
	</div> -->

	<div class="container">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-4">
				<h2>Where is the ISS now?</h2>
				<p id="latitude"></p>
				<p id="longitude"></p>
				<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			</div>
			<div class="col-md-6">
				<h2>How many people are in space right now?</h2>
				<p id="num-people"></p>
				<ul id="astronauts"></ul>
				<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			</div>
			<div class="col-md-2">
				<a class="twitter-timeline" data-width="221" data-height="400" href="https://twitter.com/Space_Station">Tweets by Space_Station</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>

		<hr>

		<footer>
			<p>&copy; 2016 Sydney Mercier</p>
		</footer>
    </div> <!-- /container -->
<!-- 	
	<div class="row">
		<div class="col-md-4">
			<h3>Where is the ISS now?</h3>
			<div id="latitude"></div>
			<div id="longitude"></div>
		</div>
		<div class="col-md-6">
			<h3>How many people are in space right now?</h3>
			<p id="num-people"></p>
			<ul id="astronauts"></ul>
		</div>
		<div class="col-md-2">
			<a class="twitter-timeline" data-width="221" data-height="400" href="https://twitter.com/Space_Station">Tweets by Space_Station</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>

	<div>
		<form action='/flyby' method='post'>
			{% csrf_token %}
			Your Latitude: <input type='text' name='latitude'>
			Your Longitude: <input type='text' name='longitude'>
		  	<input type='submit' value='Find next flyby time'>
		</form>
		{% if risetime %}
		<p>The ISS will next rise at {{ risetime }}.</p>
		<p>It will be in the sky for {{ duration }}.</p>
		{%  endif %}
	</div>
	<div>
		<p>Get text alerts for when the ISS passes overhead!</p>
		<form action='/alerts' method='post'>
			{% csrf_token %}
		  	<input type='submit' value='Sign up'>
		</form>
	</div> -->

</body>
</html>