{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ISS Tracker</title>

	<!-- JavaScript -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Leaflet CSS and JavaScript files -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
	<!-- My static files -->
	<link rel="stylesheet" type="text/css" href="{% static 'isstracker/styles.css' %}?v=00001">
	<script type="text/javascript" src="{% static 'isstracker/iss_map.js' %}?v=00001"></script>

</head>
<body>
	<div>
		<h1>ISS Tracker <small>Follow the International Space Station around the globe!</small></h1>
	</div>
	<div class="row">
		<div class="col-lg-">
			<div id="mapid"></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<h3>Where is the ISS now?</h3>
			<div id="latitude"></div>
			<div id="longitude"></div>
		</div>
		<div class="col-md-6">
			<h3>How many people are in space right now?</h3>
			<p id="num-people"></p>
			<ul id="astronauts"></ul>
		</div>
		<div class="col-md-2">
			<a class="twitter-timeline" data-width="221" data-height="400" href="https://twitter.com/Space_Station">Tweets by Space_Station</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>

	<div>
		<form action='/flyby' method='post'>
			{% csrf_token %}
			Your Latitude: <input type='text' name='latitude'>
			Your Longitude: <input type='text' name='longitude'>
		  	<input type='submit' value='Find next flyby time'>
		</form>
		{% if risetime %}
		<p>The ISS will next rise at {{ risetime }}.</p>
		<p>It will be in the sky for {{ duration }}.</p>
		{%  endif %}
	</div>
	<div>
		<p>Get text alerts for when the ISS passes overhead!</p>
		<form action='/alerts' method='post'>
			{% csrf_token %}
		  	<input type='submit' value='Sign up'>
		</form>
	</div>
</body>
</html>