
#mapid {
	height: 400px;
	max-width: 100%;
}

body {
	padding: 50px 0px 20px 0px;
	background-image: url("stars_texture.jpg");
	background-position: right top;
	background-attachment: fixed;
	background-size: contain;
}

.col-lg- {

}

.column {
	display: inline-block;
	width: 33%;
	vertical-align: top;
}

input {
	color: black;
}

.leaflet-container {
	border-radius: 10px;
	z-index: 0;
}
